
@{
    ViewData["Title"] = "Page2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Page2</h1>

<label>Name</label>:<b>@ViewBag.Name</b>
<br />
<label>Age</label>:<b>@ViewBag.Age</b>
<br />
<label>Address</label>:<b> @ViewBag.Address</b>
<br />


<br />

Firstname <b>@ViewData["FirstName"]</b>
<br />
Last name<b>@ViewData["LastName"]</b>







